<!DOCTYPE html>
<html>
<head>
  <title>Tefeci</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container">

<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span3">
      <p class="lead">para bizden sorulur.</p>
    </div>  
  </div>
  
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <% if connected_user %>
      <li><%= link_to 'Kurbanlar', victims_path %> </li>
      <li><%= link_to 'Borcunu Ödeyenler',debts_path(:status=>'paid') %></li>
      <li><%= link_to 'Borcunu Ödemeyenler',debts_path(:status=>'not_paid') %></li>
      <% end %>
    </ul>
  </div>
</header>

  <div class="page-header">
    <div class="row">
     <div class="span9">
      <h1>Tefeci <%= connected_user.name if connected_user %> <img src="<%= session[:user_pic] %>" class="img-circle"></h1>
    </div>
    <div class="span2">
      <a class="btn btn-success" href="#" onClick="history.go(-1)">geri</a>
      <% if connected_user %>
      <a class="btn btn-danger" href="/logout">Çıkış</a>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    
    <div class="span9">
      <%= yield %>
    </div>
  
  </div>


<br><br><br><br>
      <hr>
      <footer id="footer">
        © 2013 - Mafyacı Yazılım. furkan kaynak
      </footer>
</div><!-- /container -->
</body>
</html>
